{% extends "blog/base2.html" %}
{% load static %}

{% block content %}

<section class="slice py-8 bg-dark">
    <div class="container py-5">
        <div class="row row-grid align-items-center">
            <div class="col-lg-8 text-center text-lg-left">
                <!-- Heading -->
                <h1 class="text-white mb-4">
                    QuickDrop aims to revolutionize the way you share files!
                </h1>
                <!-- Text -->
                <p class="lead text-white opacity-8">
                    It is made as a J-Component Poject for Internet and Web Programming (CSE3002) course at VIT, Vellore under Prof. Malathy E.
                    This project is open-sourced at my GitHub:
                </p>
                <!-- Buttons -->
                <div class="mt-5">
                    <a href="https://github.com/shaurya-src/QuickDrop" target="_blank" class="btn btn-warning btn-lg btn-icon">
                        <span class="btn-inner--icon">
                            <i data-feather="github"></i>
                        </span>
                        <span class="btn-inner--text"> &lt; / QuickDrop &gt; </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="shape-container shape-line shape-position-bottom">
        <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
            <polygon points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>
<section class="slice slice-lg pb-5">
    <div class="container">
        <!-- Section title -->
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-8 col-md-10">
                <h2 class=" mt-4">Developed by</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-5"></div>
            <div class="col-lg-4 col-sm-6 mb-5">
                <div data-animate-hover="2">
                    <div class="animate-this">
                        <a href="https://www.shauryasrc.com" target="_blank">
                            <img alt="Image placeholder" class="img-fluid rounded shadow" src="{% static 'blog/img/self.jpg' %}">
                        </a>
                    </div>
                    <div class="mt-4 text-center">
                        <h5 class="h6 mb-0">Shaurya Choudhary</h5>
                        <p class="text-muted text-sm mb-0">18BCE2113</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}