{% extends "blog/base2.html" %}
{% load static %}

<title> Home </title>

{% block content %}

<section class="slice py-7">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="{% static 'blog/img/hero.svg' %}" class="img-fluid mw-md-120">
                </figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3">
                    It's time to amplify your <strong class="text-primary">online business</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-left text-muted">
                    Build a beautiful, modern website with flexible Bootstrap components built from scratch.
                </p>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="https://webpixels.io/themes/quick-free-bootstrap-theme" class="btn btn-primary btn-icon" target="_blank">
                        <span class="btn-inner--text">Get started</span>
                        <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                    </a>
                    <a href="https://webpixels.io/illustrations" class="btn btn-neutral btn-icon d-none d-lg-inline-block" target="_blank">See Illustrations</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <span class="badge badge-primary badge-pill">Key features</span>
                <h5 class="lh-180 mt-4 mb-6">Quick is a premium HTML template that includes adaptable components and pages for various industries, plus new ones each month.</h5>
            </div>
        </div>
        <!-- Features -->
        <div class="row mx-lg-n4">
            <!-- Features - Col 1 -->
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">100% Responsive</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Based on Bootstrap 4</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Built with SASS</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-success text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">300+ components</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">23+ widgets</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Bootstrap Flexbox Grid</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}